// Colors
// ----------------------------------
$primary: #50FF44;


// Basic settings
// ----------------------------------
body {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}



// Components
// ---------------------------------
.the-new {
    padding: 0 .4em;
    background-color: $primary;
}

.selector {
    width: 120px;
    height: 34px;
    border: 1px solid #000;
    padding: 0 10px;
    font-weight: 500;
    background-color: #fff;
    color: #000;
}


// Behavior
// ---------------------------------
.app.is-dark {
    background-color: #000;
    color: #fff;

    .app__header {
        background-color: $primary;
        color: #000;

        a {
            color: #000;
        }
    }

    .topper-lighter {
        .fa-sun {
            font-weight: 400;
        }

        .fa-moon {
            font-weight: 900;
        }

        .control {
            border-color: #fff;

            &-btn {
                transform: translateX(100%);
            }
        }
    }

    .rollback,
    .keepon {

        &:hover {
            background-color: $primary;
            color: #000;
        }
    }
}



// AD
// ----------------------------------
.ad {
    display: block;
    width: 100%;
    margin-bottom: 24px;

    img {
        width: inherit;
        height: inherit;
    }
}



// App__Header
// ----------------------------------
.app__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;
    margin: auto;
    background-color: #000;

    a {
        font-style: italic;
        font-size: 2.5rem;
        font-weight: 700;
        color: $primary;
    }
}



// App__Main
// ----------------------------------
.app__main {
    max-width: 768px;
    margin: auto;
    padding: 24px 0;
}

.app__comic-page {
    max-width: 768px;
    margin: auto;
    padding: 24px 0;

    .ad {
        padding: 0 74px;
    }

    .topper {
        padding: 0 74px;
    }
}


// Comic
.comic {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 24px;

    &__img {
        flex: 1 0 0;
        width: 100%;

        img {
            width: inherit;
            height: inherit;
            border: 4px solid #000;
        }
    }

    &__content {
        flex: 1.5 1 0;
    }

    .comic-title {
        display: flex;
        justify-content: center;
        padding: 0 20px;
        background-color: #000;
        span {
            text-align: center;
            font-size: 2rem;
            color: #fff;
        }
    }

    .comic-info {
        padding-top: 24px;
        padding-left: 24px;
        font-weight: normal;

        .info-title {
            display: flex;
            
            & + .info-title {
                margin-top: 10px;
            }

            span:first-of-type {
                display: inline-block;
                width: 100px;
                font-weight: 700;
                color: #000;
            }
        }

        .info-summary {
            margin-top: 30px;
            overflow-y: scroll;

            span {
                display: inline-block;
                width: 100px;
                font-weight: 700;
                color: #000;
            }

            p {
                margin: 10px 0;
            }
        }
    }
}

// Comic Chapter 
.chapter {
    margin-bottom: 24px;
    font-weight: 500;

    &-head {
        display: flex;
        font-size: 1.5rem;

        span {
            padding: 8px 20px;
            background-color: #000;
            color: #fff;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 4px solid #000;
        padding: 10px 0;
    }

    &-list {
        padding: 8px 20px;
        cursor: pointer;

        span + .highlight {
            margin: 0 10px;
        }

        &:hover {
            background-color: #000;
            color: #fff;

            .highlight {
                color: #000;
            }
        }
    }
}



// Topper
// ----------------------------------
.topper {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    .selector-wrap {
        display: flex;
        align-items: center;
    }

    &-selector {
        display: flex;
        justify-content: space-between;
        width: 100%;

        select {
            width: 49%;
        }
    }

    &-arrow {
        margin-right: 8px;
    }

    &-title {
        max-width: 180px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &-lighter {
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;

        i {
            font-size: 1.2rem;

            &:first-of-type {
                margin-right: 8px;
            }

            &:last-of-type {
                margin-left: 8px;
            }
        }

        .control {
            width: 80px;
            height: 24px;
            background-color: #000;
            border: 2px solid #000;

            &-btn {
                width: 50%;
                height: 100%;
                background-color: #fff;
                transform: translateX(0%);
                transition: 0.2s;
            }
        }
    }
}



// Comic-page
// ----------------------------------
.comic-page-wrap {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;

    .page {
        width: 100%;
    
        img {
            width: inherit;
            height: inherit;
        }
    }

    .rollback,
    .keepon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        font-size: 3rem;
        cursor: pointer;

        &:hover {
            background-color: #000;
            color: $primary;
        }
    }
}



// page-scroll
// ----------------------------------
.page-scroll {
    width: 100%;
    height: 160px;
    padding: 0 74px;
    margin-bottom: 24px;

    .page-imgs {
        white-space: nowrap;
        overflow-x: scroll;
        padding: 8px 0;
        

        img {
            width: 80px;
            opacity: .5;

            &:hover {
                opacity: 1;
            }

            & + img {
                margin-left: 16px;
            }
        }
    }
}




@media screen and (max-width: 700px) {
    .app__comic-page {

        .topper {
            flex-wrap: wrap;

            &-title {
                display: block;
                margin: auto;
                max-width: unset;
                width: 100%;
                overflow: visible;
                text-overflow: unset;
                text-align: center;
                white-space: unset;
                background-color: #000;
                color: #fff;
            }

            &-arrow {
                display: none;
            }

            &-selector {
                margin: 16px 0;
            }

            .selector-wrap {
                width: 100%;
                flex-wrap: wrap;
                order: 2;
            }

            .topper-lighter {
                order: 1;
                margin-bottom: 24px;
            }
        }
    }
}


@media screen and (max-width: 560px) {
<<<<<<< HEAD

    .app__comic-page {

=======
    .app__comic-page {
>>>>>>> d65fc37366c4290b03a3247175dd67c3dea50814
        .topper {
            padding:0 ;
        }
    }
<<<<<<< HEAD

    .ad {
        padding: 0;
    }

=======
    .ad {
            padding: 0;
        }
    
>>>>>>> d65fc37366c4290b03a3247175dd67c3dea50814
    .comic {
        flex-direction: column;
        height: auto;

        &__content {
            overflow: visible;
            height: auto;
        }
    }
}
